	---------
	${project.name} :: Changelog
	---------

Changelog

* 1.0.12

      * attached artifacts are now subjected to checks against includes/excludes as well.

      * added support for copying resources (directories or files) directly, without
        having to rely on the <<<copy-resources>>> goal of <<<maven-resources-plugin>>>.
        this is achieve with the <<<useDefaultCopyResources>>> and <<<copyResources>>>
        parameters.

      * added support for fixing file permissions directly rather than relying
        the <<<chmod>>> task of the <<<maven-antrun-plugin>>> plugin. this is
        achieve by using the <<<useDefaultFixPermissions>>> and <<<fixPermissions>>>
        parameters.

      * added <<<skip>>> parameter, which can be used in top-level pom modules
        of multi-module projects to skip the execution of the plugin.

      []

* 1.0.11

      * introduced <<<libDirectory>>> parameter, to allow changing the directory
        with the jars; default is <<</usr/lib/\{PKGNAME\}>>>, but one can change it
        to <<</opt/\{PKGNAME\}/lib>>> with this parameter.

      * introduced <<<docDirectory>>> parameter, to allow changing the directory
        with the documentation; default is <<</usr/share/doc/\{PKGNAME\}>>>, but one can change it
        to <<</opt/\{PKGNAME\}/doc>>> with this parameter.

      * introduced <<<manDirectory>>> parameter, to allow changing the directory
        with the man pages; default is <<</usr/share/man>>>, but one can change it
        to <<</opt/\{PKGNAME\}/man>>> with this parameter.

      * introduced <<<createSymLinks>>> parameter, to allow turning off symbolic
        link generation for jar files (without the artifact version).

      * introduced <<<createIncludeFiles>>> parameter, to allow turning off creation
        of .inc files for artifacts.

	[]

* 1.0.10

      * changed directory for jars from <<<usr/share/lib/PKGNAME>>>
        to <<<usr/lib/PKGNAME>>>

	[]

* 1.0.9

      * fixed <<<NullPointerException>>> when not supplying any regular expressions
        for excluding artifacts

	[]

* 1.0.8

      * switched from <org.apache.commons:commons-exec> to
        <com.github.fracpete:processoutput4j> to handle paths with blanks
        when executing the Debian package tools

	[]

* 1.0.7

      * forked {{http://debian-maven.sourceforge.net}} project

      * documentation is now available at {{https://fracpete.github.io/debian-maven-plugin/}}

      * added <excludeArtifactsRegExp> parameter to allow matching of artifacts
        via regular expressions

	[]
