	-------------
	${project.name} :: Contact
	-------------

	You can contact me via the following email address:

+--------------
wowtor AT users DOT sourceforge DOT net
+--------------

	Your feedback will be appreciated.
