	-------------
	${project.name} :: Contact
	-------------

        Original author's email:

+--------------
wowtor AT users DOT sourceforge DOT net
+--------------

	Maintainer of this fork:

+--------------
fracpete at waikato dot ac dot nz
+--------------
