	---------------
	${project.name} :: Introduction
	---------------

${project.name}

        This plugin helps building DEB packages from Maven projects.
        The packages can be used in DEB-based operating systems such
        as Debian and Ubuntu. The plugin uses external Debian tools
        to do the actual packaging.

        Fork of: {{http://debian-maven.sourceforge.net}}
